<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home page</title>

  

 
   <!-- Bootstrap core CSS -->
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

   
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('index') }}"><span data-feather="rss"></span> </a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href=" {{ url_for('logout') }} ">Se deconnecter</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
       
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('home') }}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('add_flux') }} ">
                  <span data-feather="plus-circle"></span>
                  Ajouter un flux
                </a>
              </li>
            
              <li class="nav-item">
                
              </li>
              <li class="nav-item">
               
              </li>
            
            </ul>
    
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Networking</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="git-branch"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="user-plus"></span>
                  Ajouter ami
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Mes Amis (02)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="gift"></span>
                  dde amitié (10)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="share-2"></span>
                  Partages (01)
                </a>
              </li>
            
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="row"> 

         
          <div class=" col col-md-8">
            {% block content %}
            {% endblock  %}
          </div>

          <div class="col col-md-4">

            <div class="row  simple-row">
              <span class="m-0 font-weight-bold text-primary">
                   <div class="row simple-row">
                     <img src="{{url_for('static', filename='img/user.jpeg')}}" style="width: 50px; height: 50px;border-radius: 50px;border: 1px solid #F5F8FA" alt="">
                     <span class="m-0 font-weight-bold text-primary">
                         <a href="#"></a> <br>{{session['user_logged_name'] }}
                     </span>
                 </div>
                   <br>
                   <a class="nav-link" href="#">
                     <span data-feather="cast"></span>
                     Mes flux 
                   </a>


                   <ul style="font-size: 15px;" class="flex-column mb-2">
                     
                    {% for flux in flux_list %}
                    <li class="">
                      <a class="" href="/publication/{{ flux.id  }}">
                        {{ flux.adresse_site_web }}
                      </a>
                    </li>
                  {% endfor %}
                     
                   </ul>
               </span>
           </div>
         </div>
         
          
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

   
  </body>
</html>