{% extends 'base_frontend.html' %}


{% block content %}

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Restez eveillez restez Zen !!</h1>
          <p class="lead text-muted">Nous savons que vous n'avez pas assez de temps pour parcourir tout internet 
           c'es pourquoi nous vous permettons de centraliser tout vos flux en un seul endroit c'est pratique pour gagner du temps.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">S'inscrire  </a>
            <a href="{{  url_for('home') }} " class="btn btn-secondary my-2">Se connecter</a>
          </p>
        </div>
      </section>

      <div class=" py-5 bg-light">
        <div class="container">

          <div class="row">
            
          </div>
        </div>
      </div>


{% endblock  %}