{% extends 'base_frontend.html' %}


{% block content %}


<section class="jumbotron text-center">
    
    <div class="container">
        
      <div class="row">
          <div class="col col-md-6">
            <h1 class="jumbotron-heading">Un seul Compte pour tous vos sites favoris !!</h1>
            <p class="lead text-muted">Ne vous dispersez-vous créer votre comptez.</p>
           
          </div>

          <div class="col col-md-6">
            <div class="">
                <form id="register-form" class="text-left" method="POST">

                {% with messages = get_flashed_messages(category_filter='error') %}
                    {% if messages %}
                        {% for message in messages %}
                        
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="reg_username" class="sr-only">Email address</label>
                                <input type="text" class="form-control" id="reg_username" name="email" placeholder="Votre email">
                            </div>
                            <div class="form-group">
                                <label for="reg_username" class="sr-only">Email address</label>
                                <input type="text" class="form-control" id="reg_username" name="username" placeholder="Nom d'utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="reg_password" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="reg_password" name="password" placeholder="mot de passe">
                            </div>
                            <div class="form-group">
                                <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                                <input type="password" class="form-control" id="reg_password_confirm" name="password_confirm" placeholder="confirmer mot de passe">
                            </div>
                            
                            
                           
                           
                            
                            <div class="form-group login-group-checkbox">
                                <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                                <label for="reg_agree">j'accepte les <a href="#">conditions</a></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">s'inscrire</button>
                    </div>
                    <div class="">
                        <br>
                        <p>j'ai déja un compte ? <a href=" {{  url_for('index') }} "> se connecter </a></p>
                    </div>
                </form>
            </div>
          </div>

      </div>
    </div>
  </section>

     


{% endblock  %}


